@model IEnumerable<GameStore.Models.Product>
@using GameStore.Helpers

@{
    ViewBag.Title = "Wyszukiwanie produktów";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.MaxPages > 0)
{
    for (int i = 1; i <= ViewBag.MaxPages; ++i)
    {
        @Html.ActionLink(i.ToString(), "Index", new { pageNumber = i })

        if (i != ViewBag.MaxPages)
        {
            @Html.Encode(" | ")
        }
    }

    <div class="products-list">
        @foreach (var item in Model)
        {
            @Html.Partial("_ProductBox", item)
        }
    </div>
}
else
{
    <p>Nie dodano jeszcze żadnych produktów.</p>
}

<script>
    $(".quantity-link").on("click", function (e) {
        e.preventDefault();

        var productid = $(this).attr("productid");
        var q = ($(this).attr("type") == "decrease" ? -1 : 1)
            * $("#quantity-change-box-" + productid).val();
        if (q > 0) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangeQuantity", "Product")',
                data: {
                    id: productid,
                    quantity: q
                },
                complete: function (res) {
                    $("#products-table").html(res);
                }
            });
        }
    });
</script>